* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.logo .icon {
  width: 25px;
  border-radius: 5px;
  background-color: #5468e7;
}

.logo .icon2 {
  width: 60px;
  padding-left: 5px;
}

nav {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

nav ul li a {
  color: #8b8b8b;
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
}

nav button {
  position: relative;
  background-color: #232340;
  color: white;
  padding: 5px 3px;
  border-radius: 8px;
  cursor: pointer;
}

.toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.toggle span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #232340;
  transition: all 0.5s;
  border-radius: 5px;
}

.toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-2px, -2px);
  background-color: #fff;
}

.toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: #fff;
}

.toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

@media (max-width: 768px) {
  nav ul {
    width: 60%;
  }
  .rounded {
    display: flex;
  }
}

@media (max-width: 576px) {
  .toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #232340;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.5s;
    opacity: 0;
    font-weight: 900;
  }

  nav ul li a:hover {
    color: #ffffff;
  }
  nav ul.slide {
    opacity: 1;
    transform: translate(0);
    z-index: -1;
  }
  nav button {
    display: inline-block;
  }

  .bg {
    width: 287px;
    height: 363px;
    float: right;
    margin-top: 50px;
  }
  .rounded {
    display: none;
  }
  .oval {
    margin: auto;
    margin-top: 50px;
    width: 310px;
    height: 310px;
  }
  .oval small {
    text-align: center;
  }

  #recent {
    width: 375px;
    height: 1348px;
    left: 0.5px;
    top: 2734px;
  }
  #recent h2 {
    width: 255px;
    height: 48px;
    left: 32px;
    top: 234px;

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    letter-spacing: -0.4px;

    color: #232340;
  }
  #recent .row {
    width: 311px;
    height: 355.56px;

    border-radius: 16px;
  }
}

.bg {
  width: 400px;
  height: 450px;
}

section h1 {
  font-weight: 900;
}

section .baris {
  padding-left: 150px;
}

#about {
  height: 1670px;
  background-color: #323259;
  margin-top: 50px;
}

.rounded {
  width: 970px;
  height: 530px;
  margin-top: 70px;
}

#about h2 {
  padding-left: 80px;
}

.oval {
  width: 402px;
  height: 402px;
  left: 854px;
  top: 726px;
  background-color: #232340;
  box-shadow: 0px 23px 50px rgba(0, 0, 0, 0.25);
}

.oval .number {
  height: 239px;
  left: 0%;
  right: 0%;
  top: calc(50% - 239px / 2 + 0.5px);
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 200px;
  line-height: 239px;
  text-align: center;
  color: #ffffff;
}

.oval small {
  text-align: center;
}

#recent {
  width: 1440px;
  height: 1348px;
  left: 0.5px;
  top: 2734px;
}

#recent .row .left {
  width: 367px;
  height: 500px;
  background: #ffce79;
  border-radius: 24px;
}

#recent .row .right {
  width: 367px;
  height: 500px;

  background: #d1ecfd;
  border-radius: 24px;
}

#recent h2 {
  width: 668px;
  height: 100px;
  left: 335.3px;
  top: 2911px;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 100px;
  letter-spacing: -1px;

  /* color/dark */

  color: #232340;
}
