* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
  display: flex;
  background-color: blueviolet;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
}

.toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: chartreuse;
  transition: all 0.5s;
}

.toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-2px, -2px);
  background-color: white;
}

.toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: white;
}

.toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

@media (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    height: 80vh;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  nav ul.slide {
    opacity: 1;
    transform: translate(0);
  }
}
